cython
flask
gdown
inflect
jieba
librosa==0.8.0
matplotlib
numpy==1.19.5
pandas
pypinyin
pysbd
pyyaml
scipy>=0.19.0
soundfile
tensorboardX

tqdm
numba==0.53
umap-learn==0.4.6
unidecode==0.4.20
coqpit
